<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<contextName>zjcap-voa-manage</contextName>
	<jmxConfigurator/>
	
	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date  %level %logger{55} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 日志文件输出 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 指定后 台管理系统 日志文件 名称 -->
		<file>${maven.log.output.directory}/zjcap-voa-manage.log</file>
		<append>false</append>
		
		<!-- 制定 按时间的 滚动策略 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 按时间的滚动策略下 日志文件存放位置及名称 -->
			<fileNamePattern>${maven.log.output.directory}/history/zjcap-voa-manage-%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留最近90天的文件 -->
			<MaxHistory>90</MaxHistory>
		</rollingPolicy>
		
		<!-- 日志输出格式 -->
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] - [ %-5level ] [ %logger{55} : %line ] - %msg%n</pattern>
			</layout>
		</encoder>
	</appender>
	
	<logger name="cn.zjcap.voa" level="debug"/>
	
	<root level="debug">
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
	
</configuration>